<table class='table table-condensed'>
    <thead>
        <th>Silo Name</th>
        <th>Silo Location</th>
        <th>Silo Level</th>
        <th>Last Timestamp</th>
    </thead>
    <tbody>
        <% for (var i in siloData) { %>
          <tr>
            <td><%= siloData[i].name %></td>
            <td><%= siloData[i].location %></td>
            <td><%= siloData[i].level %></td>
            <td><%= siloData[i].recent %></td>
        <% } %>
    </tbody>
</table>