* {
	font-family: 'Open Sans', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
	padding-top: 70px;
	margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #f5f5f5;
}

	.footer p {
		margin-bottom: 0;
	}

h3 {
	font-size: 26px;
	font-weight: 400;
	padding-bottom: 20px;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 20px;
}

.navbar {
	background: #f5f5f5;
	border-bottom: 0px none transparent;
}

.pagination {
	margin-bottom: 0px;
}
	
	.navbar .navbar-brand {
		padding: 6px 15px;
	}

	.navbar .logo {
		width: 97px;
		height: 33px;
		background: url("../images/logo-sm.png") no-repeat 0 0;
		background-size: 100%;
	}

	.navbar .nav li.active a {
		background: #55b0cb;
	}

	.navbar .navbar-header button {
		border: 1px solid #cccccc;
	}

	.navbar .navbar-header button:hover {
		background: #ffffff;
	}

	.navbar .navbar-header .icon-bar {
		background-color: #cccccc;
	}
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
		background:#55b0cb;
	}

	.navbar-inverse .navbar-nav>li>a {
		color: #999;
		border-bottom: 2px solid #fff;
	}

	.navbar-inverse .navbar-nav>li>a:hover {
		color: #00bfff;
		border-bottom: 2px solid #00bfff;
		
	}

/* Level */

.level {

}

	.level-bar {
		display: block;
		width: 15px;
		height: 3px;
		border-radius: 1px;
		margin-bottom: 2px;
	}

	.level-bar.green {
		background: #4eff45;
	}

	.level-bar.yellow {
		background: #fff723;
	}

	.level-bar.orange {
		background: #ff9c01;
	}

	.level-bar.red {
		background: #ff1e1e;
	}

/* Tables */

table {
	font-size: 12px;
}

/* page header */

.page-header-search {
	position: relative;
	padding-bottom: 50px;

}

.page-header-search.bordered {
	border-bottom: 1px solid #f2f2f2;
}

	.page-header-search h1 {
		position: absolute;
		margin: 5px 0;
		left: 0px; top: 0px;
		font-size: 26px;
	}

	.page-header-search form {
		float: right;
		width: 280px;
	}

/* element grouping */

.elm-grouping {
	margin-top: 20px;
	padding: 0px 20px 20px 20px;
	border: 1px solid #eeeeee;
}

	.elm-grouping p {
		line-height: 1.9em;
	}

/* inputs */

input {
	padding: 25px 15px;
	border: 1px solid #e5e5e5 !important;
	-moz-box-shadow: 0 0 0 0 transparent !important;
	-webkit-box-shadow: 0 0 0 0 transparent !important;
	box-shadow: 0 0 0 0 transparent !important;
}

textarea:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="text"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus {   
	border: 1px solid #e5e5e5 !important;
	box-shadow: 0 0 0 transparent, 0 0 0 transparent;
	outline: 0 none;
}

input::-webkit-input-placeholder {
	color: #f8f8f8;
}

input:-moz-placeholder {
	color: #f8f8f8; 
}

input::-moz-placeholder {
	color: #f8f8f8;
}

input:-ms-input-placeholder {  
	color: #f8f8f8;
}

.dashboardMargin {
	margin-bottom: 20px;
}

#map-container {
	width:100%;
	height:350px;
	margin:0px 0px;
}

.clickableRow {
	cursor: pointer;
}

.tt-dropdown-menu, .twitter-typeahead, .tt-hint { width: 100%; }

.tt-query,
.tt-hint {
    width: 100%;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    margin-left:-1px;
    margin-bottom:1px;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 100%;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius:8px;
    /*box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
}

.tt-suggestion {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
}

.tt-suggestion.tt-cursor {
    color: #55b0cb;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}