html, body {
  /*background-color: #FFFFFF;*/
  background: url(/images/kitchen_login.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top:0px;
}

.center {
	text-align: center;
	margin-top: 20px;
}

h1, p {
	color: #ffffff;
}
