@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html, body {
    font-family: "Lato", "Helvetica Neue", "Calibri", "Arial", sans-serif;
    color:#455569
    
}

.widget {
    /*margin: 5px;*/
    padding: 5px;
    width: 100%;
    /*background-color:#222222;*/
    display: inline-block;
    /*color: white;*/
    border-radius: 3px;
    overflow:hidden;
}

.widget.small-width {
    width: 125px;
}

.widget.small-height {
    min-height: 125px;
}

.widget.medium-width {
    width: 250px;
}

.widget.medium-height {
    min-height: 250px;
}

.widget.large-height {
    height: 480px;
}

.widget .widget-full-width {
    width: 100%;
    display: block;
    padding: 5px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

body {
    background-color:white;
    -webkit-font-smoothing: antialiased;
    padding-top: 70px;
}
.navbar-default {background-color:#EEEEEE;border-width:0;z-index:5;}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > li:hover > a {border:0 solid #4285f4;border-bottom-width:2px;font-weight:800;background-color:transparent;}
.navbar-default .dropdown-menu {background-color:#ffffff;}
.navbar-default .dropdown-menu li > a {padding-left:30px;}

.header {background-color:#ffffff;border-width:0;}
.header .navbar-collapse {background-color:#ffffff;}
.btn,.form-control,.panel,.list-group,.well {border-radius:1px;box-shadow:0 0 0;}
.form-control {border-color:#d7d7d7;}
.btn-primary {border-color:transparent;}
.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color:#4285f4;}
.btn-plus {background-color:#ffffff;border-width:1px;border-color:#dddddd;box-shadow:1px 1px 0 #999999;border-radius:3px;color:#666666;text-shadow:0 0 1px #bbbbbb;}
.well,.panel {border-color:#d2d2d2;box-shadow:0 1px 0 #cfcfcf;border-radius:3px;}
.btn-success,.label-success,.progress-bar-success{background-color:#65b045;}
.btn-info,.label-info,.progress-bar-info{background-color:#a0c3ff;border-color:#a0c3ff;}
.btn-danger,.label-danger,.progress-bar-danger{background-color:#dd4b39;}
.btn-warning,.label-warning,.progress-bar-warning{background-color:#f4b400;color:#444444;}

hr {border-color:#ececec;}
button {
    outline: 0;
}
textarea {
    resize: none;
    outline: 0;

}
.panel{
	background-color:#EEEEEE;
}
.panel .btn i,.btn span{
    color:#666666;
}
.panel .panel-heading {
    background-color:#ffffff;
    font-weight:700;
    font-size:16px;
    color:#262626;
    border-color:#ffffff;
}
.panel .panel-heading a {
    font-weight:400;
    font-size:11px;
}
.panel .panel-default {
    border-color:#cccccc;
    background-color:#EEEEEE;
}
.panel .panel-thumbnail {
    padding:0;
}
.panel .img-circle {
    width:50px;
    height:50px;
}
.list-group-item:first-child,.list-group-item:last-child {
    border-radius:0;
}
h3,h4,h5 {
    border:0 solid #efefef;
    border-bottom-width:1px;
    padding-bottom:10px;
}

.modal-dialog {
    width: 700px;
}

.modal-footer {
    border-width:0;
}

.dropdown-menu {
    background-color:#f4f4f4; 
    border-color:#f0f0f0;
    border-radius:0;
    margin-top:-1px;
}
/* end theme */

/* template layout*/
#subnav {
    position:fixed;
    width:100%;
}

@media (max-width: 768px) {
    #subnav {
        padding-top: 6px;
    }
}

#main {
    padding-top:120px;
}

.mb-20 {
    margin-bottom: 20px;
}

.widget-title {
    text-align: center;
    font-size: 18pt;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.widget.highlight {
    -webkit-box-shadow: 0px 0px 30px 14px rgba(184, 216, 221, 1);
    -moz-box-shadow:    0px 0px 30px 14px rgba(184, 216, 221, 1);
    box-shadow:         0px 0px 30px 14px rgba(184, 216, 221, 1);
}

.widget.alarm {
    -webkit-box-shadow: 0px 0px 30px 14px rgba(231, 76, 60, 0.6);
    -moz-box-shadow:    0px 0px 30px 14px rgba(231, 76, 60, 0.6);
    box-shadow:         0px 0px 30px 14px rgba(231, 76, 60, 0.6);
}

.navbar-default {
    height: 52px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li:hover > a {
    font-weight: 400;
}

.badge.badge-danger {
    background-color: #e74c3c;
}

.ml-5 {
    margin-left: 5px;
}

.lead {
    color: #00bfff;
}
