<%- include report_js_css.ejs %>
<script type="text/javascript">
    $(document).ready(function() {

        function updateTable(start, end, page, limit) {
            $("#download_csv_btn a").attr("href", "/compliance_data?csv=1&range_start=" + start.format("X") + "&range_end=" + end.format("X"));
            $("#table-loading").show();
            $("#compliance_table tbody tr").remove();
            $.ajax({
                type: "GET",
                url: "/compliance_data",
                data: {
                    range_start: start.format("X"),
                    range_end: end.format("X"),
                    page: page,
                    // limit: limit,
                    sort: 'asc'
                },
                success: function(response) {
                    $("#table-loading").hide();
                    var data = JSON.parse(response);
                    for (var i in data) {
                        $("#compliance_table").append("<tr>" +
                                "<td>" + data[i]['rfidTagNum'] + "</td>" +
                                "<td>" + data[i]['display_name'] + "</td>" +
                                "<td>" + data[i]['display_name_2'] + "</td>" +
                                "<td>" + data[i]['avgTemp'] + "</td>" +
                                "<td>" + data[i]['varTemp'] + "</td>" +
                                "<td>" + data[i]['total'] + "</td>" +
                                "<td>" + data[i]['passingTotal'] + "</td>" +
                                //"<td>" + moment.unix(data[i]['timestamp']).format("MM/DD/YYYY hh:mm:ss a") + "</td>" +
                                "</tr>");
                    }
                },
                error: function(response) {
                    console.log("Error");
                    console.log(response);
                }
            });
        }

        function getRfid() {
             $.ajax({
                type: "GET",
                url: "/compliance_settings",
                success: function(response) {
                    $("#table-loading").hide();
                    var data = JSON.parse(response);
                    for (var i in data) {
                        $("#rfidList").append("<tr>" +
                                "<td>" + data[i].id + "</td>" +
                                "<td>" + data[i].display_name + "</td>" +
                                "<td>" + data[i].display_name_2 + "</td>" +
                                "<td><input class='input-small' type='text' id='" + data[i].id +
                                (data[i].display_name_2 === null ? "_max" : "_min") + "_threshold' " + "value='" +
                                (data[i].threshold === undefined ? 0 : data[i].threshold) + "'></td>" +
                                "</tr>");
                    }
                },
                error: function(response) {
                    console.log("Error");
                    console.log(response);
                }
            });
        }    
        var page = 0;
        getRfid();
        var filterNum = 0;
        //updateTable(defaultStart, defaultEnd, page, limit);

        $(".form-horizontal").keypress(function(e) {
            if ( e.which == 13 ) {
                e.preventDefault();
            }
        });

        $('#addFilter').on('click', function() {
            var filter = $('#filters > div').first().clone().insertBefore('#filters > .btn');
            filter.attr('id', 'filter' + (filterNum+1));
            filter.find('input[name*=startTime]').attr('name','startTime_' + (filterNum+1));
            filter.find('input[name*=endTime]').attr('name','endTime_' + (filterNum+1));
            filter.find('select[name*=timezone]').attr('name','timezone_' + (filterNum+1));
            filterNum += 1;

            $('.removeFilter').on('click', function() {
                if($('#filters > div').length > 1) {
                    $(this).parent().parent().remove();
                }
            });
        });

        $('#generateReport').on('click', function() {
            
            var values = {};
            var dangerFlag = false;
            $('.errorMessage, #errorBlock').empty().collapse('hide');
            $('#rfidList .alert-danger').removeClass("alert-danger");

            //check for null/und values in the time form
            var timeData = [];
            var counter = 0;
            var array = $('#compliance_settings > form').serializeArray();
            $.each(array, function(i, field) {
                if(field.value === undefined || !(field.value)) {
                    //put alert under that tag
                    $('input[name*='+ field.name + ']').siblings(".errorMessage").append("please fix this value").collapse("show");
                    dangerFlag = true;
                } else {
                    if(i % 3 == 0) {
                        if(Date.parse("01/01/2011 " + array[i].value) > Date.parse("01/01/2011 " + array[i+1].value)) {
                            $('input[name*='+ field.name + ']').siblings(".errorMessage").append("start time greater than end time").collapse("show");
                            dangerFlag = true;
                        }
                    }
                    timeData.push(field.value);
                    if(timeData.length == 3) {
                        values[counter.toString()] = timeData;
                        timeData = [];
                        counter++;
                    }
                }
            });
            
            $('#rfidList input').each(function(i, input) {
                var value = $(input).val();
                if(value === undefined || !(value) || !($.isNumeric(value))) {
                    $(input).parent().parent().addClass('alert-danger');
                    dangerFlag = true;
                } else {
                    values[$(input).attr('id')] = value;
                }
            });

            if(dangerFlag) {
                $('#errorBlock').empty().append("There are errors with your values. Please correct and try again.").collapse("show");
                return;
            }

            console.log(values);
            //$('#compliance_settings').addClass('collapse');
            $.ajax({
                type: "GET",
                url: "/compliance_data",
                data: values,
                success: function(response) {
                    //we'll return a msgID and then we need to poll somewhere to see when the message is done
                    console.log(response);
                },
                error: function(response) {
                    console.log("Error");
                    console.log(response);
                }
            });
        });
    });
</script>

<%- include report_header.ejs %>
<div id="errorBlock" class="col-sm-offset-3 col-sm-6 alert alert-danger collapse" style="text-align:center;">
</div>
<div class="col-sm-offset-3"></div>
<div id="results">
</div>
<div id="compliance_settings">
    <form class="form-horizontal" role="form">
        <div class="col-md-4" id="filters" style="vertical-align:top;">
            <legend>Time Intervals</legend>
            <div id="filter0" class="filter">
                <div>
                    <a href="javascript:;" class="removeFilter"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Start Time</label>
                    <div class="input-group col-sm-8">
                        <input name="startTime_0" type="time" class="form-control">
                        <div class="errorMessage alert alert-danger collapse"></div>
                        <!--<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span> -->
                    </div>
                    
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">End Time</label>
                    <div class="input-group col-sm-8">
                        <input name="endTime_0" type="time" class="form-control">
                        <div class="errorMessage alert alert-danger collapse"></div>
                        <!--<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span> -->
                    </div>
                     
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Timezone</label>
                    <div class="input-group col-sm-8">
                        <select class="form-control" name="timezone_0">
                            <option value="-05:00">EST</option>
                            <option value="-04:00">EDT</option>
                            <option value="-08:00">PST</option>
                            <option value="-07:00">PDT</option>
                            <option value="-07:00">MST</option>
                            <option value="-06:00">MDT</option>
                            <option value="-06:00">CST</option>
                            <option value="-05:00">CDT</option>
                            <option value="-04:00">AST</option>
                            <option value="-03:00">ADT</option>
                        </select>
                         <div class="errorMessage alert alert-danger collapse"></div>
                    </div>
                   
                </div>
            </div>
            <button type="button" class="btn btn-default" id="addFilter">
                 <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add filter
            </button>
        </div>
        <div class="col-md-offset-1 col-md-7">
            <legend>Device Thresholds</legend>
            <div id="table-loading" class="collapse">
                <img src="/images/loading.gif" />
            </div>
            <table id="rfidList" class="table table-condensed">
                <th>RFID Tag Number</th>
                <th>Asset Name</th>
                <th>Sensor Type</th>
                <th>Threshold</th>
            </table>
        </div>
    </form>
</div>

