<%- include report_js_css.ejs %>
<script type="text/javascript">
    $(document).ready(function() {

        function updateTable(start, end, page, limit) {
            $("#download_csv_btn a").attr("href", "/compliance_data?csv=1&range_start=" + start.format("X") + "&range_end=" + end.format("X"));
            $("#table-loading").show();
            $("#compliance_table tbody tr").remove();
            $.ajax({
                type: "GET",
                url: "/compliance_data",
                data: {
                    range_start: start.format("X"),
                    range_end: end.format("X"),
                    page: page,
                    // limit: limit,
                    sort: 'asc'
                },
                success: function(response) {
                    $("#table-loading").hide();
                    var data = JSON.parse(response);
                    for (var i in data) {
                        $("#compliance_table").append("<tr>" +
                                "<td>" + data[i]['rfidTagNum'] + "</td>" +
                                "<td>" + data[i]['display_name'] + "</td>" +
                                "<td>" + data[i]['display_name_2'] + "</td>" +
                                "<td>" + data[i]['avgTemp'] + "</td>" +
                                "<td>" + data[i]['varTemp'] + "</td>" +
                                "<td>" + data[i]['total'] + "</td>" +
                                "<td>" + data[i]['passingTotal'] + "</td>" +
                                //"<td>" + moment.unix(data[i]['timestamp']).format("MM/DD/YYYY hh:mm:ss a") + "</td>" +
                                "</tr>");
                    }
                },
                error: function(response) {
                    console.log("Error");
                    console.log(response);
                }
            });
        }

        function getRfid() {
             $.ajax({
                type: "GET",
                url: "/compliance_settings",
                success: function(response) {
                    $("#table-loading").hide();
                    var data = JSON.parse(response);
                    for (var i in data) {
                        $("#rfidList").append("<tr>" +
                                "<td>" + data[i].id + "</td>" +
                                "<td>" + data[i].display_name + "</td>" +
                                "<td>" + data[i].display_name_2 + "</td>" +
                                "<td><input class='input-small' type='text' id='" + data[i].id + "_threshold' " + "value='" +
                                (data[i].threshold === undefined ? 0 : data[i].threshold) + "'></td>" +
                                "</tr>");
                    }
                },
                error: function(response) {
                    console.log("Error");
                    console.log(response);
                }
            });
        }
        var defaultEnd = moment().hour(0).minute(0).second(0).millisecond(0);
        var defaultStart = moment().hour(0).minute(0).second(0).millisecond(0).subtract('days', 1);
        var pickerStart = defaultStart;
        var pickerEnd = defaultEnd;
        var page = 0;
        var limit = 20;
        getRfid();
        var filterNum = 0;
        //updateTable(defaultStart, defaultEnd, page, limit);
        $('#reportrange span').html(defaultStart.format('MMMM D, YYYY') + ' - ' + defaultEnd.format('MMMM D, YYYY'));
        $('#reportrange').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment().add('days', 1)],
                        'Yesterday': [moment().subtract('days', 1), moment()],
                        'Last 7 Days': [moment().subtract('days', 7), moment()],
                        'Last 30 Days': [moment().subtract('days', 30), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                    },
                    startDate: defaultStart,
                    endDate: defaultEnd,
                    opens: "left",
                    maxDate: moment().add('days', 1)
                },
                function(start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                    pickerStart = start;
                    pickerEnd = end;
                    page = 0;
                    limit = 20;
                    updateTable(start, end, page, limit);
                }
        );

        $(".form-horizontal").keypress(function(e) {
            if ( e.which == 13 ) {
                e.preventDefault();
            }
        });

        $('#addFilter').on('click', function() {
            var filter = $('#filters > div').first().clone().insertBefore('#filters > .btn');
            filter.attr('id', 'filter' + (filterNum+1));
            filter.find('input[name*=startTime]').attr('name','startTime' + (filterNum+1));
            filter.find('input[name*=endTime]').attr('name','endTime' + (filterNum+1));
            filter.find('select[name*=timezone]').attr('name','timezone' + (filterNum+1));
            filterNum += 1;

            $('.removeFilter').on('click', function() {
                if($('#filters > div').length > 1) {
                    $(this).parent().parent().remove();
                }
            });
        });

        $('#generateReport').on('click', function() {
            //$('#compliance_settings').addClass('collapse');
            
            var values = {};
            
            //check for null/und values in the form
            $.each($('#compliance_settings > form').serializeArray(), function(i, field) {
                if(field.value === undefined || !(field.value)){
                    //put alert under that tag
                    $('<div class="alert alert-danger">' + 'please fix this value' + '</div>').insertAfter('input[name*='+ field.name + ']');
                } else {
                    values[field.name] = field.value;
                }
            });

            $('#rfidList input').each(function(i, input) {
                if($(input).val() === undefined || !($(input).val())) {
                    $(input).parent().parent().addClass('danger');
                } else {
                    values[$(input).attr('id')] = $(input).val();
                }
            });

            console.log(values);
        });
    });
</script>

<%- include report_header.ejs %>
<div class="center-block" style="text-align:center;margin-bottom:10px;">
    <a href="javascript:;" class="btn btn-primary btn-lg" id="generateReport">Generate Report</a>
</div>
<div id="results">
</div>
<div id="compliance_settings">
    <form class="form-horizontal" role="form">
        <div class="col-md-4" id="filters" style="vertical-align:top;">
            <legend>Time Intervals</legend>
            <div id="filter0" class="filter">
                <div>
                    <a href="javascript:;" class="removeFilter"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Start Time</label>
                    <div class="input-group col-sm-8">
                        <input name="startTime0" type="time" class="form-control">
                        <!--<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span> -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">End Time</label>
                    <div class="input-group col-sm-8">
                        <input name="endTime0" type="time" class="form-control">
                        <!--<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span> -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Timezone</label>
                    <div class="input-group col-sm-8">
                        <select class="form-control" name="timezone0">
                            <option value="EST">EST</option>
                            <option value="EDT">EDT</option>
                            <option value="PST">PST</option>
                            <option value="PDT">PDT</option>
                            <option value="MST">MST</option>
                            <option value="MDT">MDT</option>
                            <option value="CST">CST</option>
                            <option value="CDT">CDT</option>
                            <option value="AST">AST</option>
                            <option value="ADT">ADT</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-default" id="addFilter">
                 <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add filter
            </button>
        </div>
        <div class="col-md-offset-1 col-md-7">
            <legend>Device Thresholds</legend>
            <div id="table-loading" class="collapse">
                <img src="/images/loading.gif" />
            </div>
            <table id="rfidList" class="table table-condensed">
                <th>RFID Tag Number</th>
                <th>Asset Name</th>
                <th>Sensor Type</th>
                <th>Threshold</th>
            </table>
        </div>
    </form>
</div>

