<div class="col-xs-12 mb-20">
    <div id="tabs" class="col-xs-12">
        <ul class="nav nav-tabs">
            <li style="display:none;" <%= report_type === 'compliance' ? 'class=active' : '' %>><a href="/reports/compliance">Compliance Report</a></li>
            <li <%= report_type === 'handheld' ? 'class=active' : '' %>><a href="/reports/handheld">Handheld Data</a></li>
            <li <%= report_type === 'rfid' ? 'class=active' : '' %>><a href="/reports/rfid">RFID Data</a></li>
        </ul>
    </div>
    <div class="rangepicker_area">
        <div id="reportrange" class="btn btn-default">
            <i class="fa fa-calendar fa-lg"></i>
            <span></span>
        </div>
        <div id="download_csv_btn">
            <a href="#" class="btn btn-default"><i class="fa fa-arrow-circle-o-down"></i> Download CSV</a>
        </div>
    </div>
</div>