<%- include report_js_css.ejs %>
<script type="text/javascript">
    $(document).ready(function() {
        function updatePagerStyles() {
            if (page !== 0) {
                $(".previous").removeClass("disabled");
            }
            else {
                $(".previous").addClass("disabled");
            }
        }

        function updateTable(start, end, page, limit) {
            $("#download_csv_btn a").attr("href", "/rfid_data?csv=1&range_start=" + start.format("X") + "&range_end=" + end.format("X"));
            $("#table-loading").show();
            $("#handheld_table tbody tr").remove();
            $.ajax({
                type: "GET",
                url: "/rfid_data",
                data: {
                    range_start: start.format("X"),
                    range_end: end.format("X"),
                    page: page,
                    limit: limit,
                    sort: 'desc',
                    timezone_shift: moment().zone()
                },
                success: function(response) {
                    $("#table-loading").hide();
                    var data = JSON.parse(response);
                    for (var i in data) {
                        $("#handheld_table").append("<tr>" +
                                "<td>" + data[i]['deviceID'] + "</td>" +
                                "<td>" + data[i]['statusCode'] + "</td>" +
                                "<td>" + data[i]['rfidTagNum'] + "</td>" +
                                "<td>" + data[i]['display_name'] + "</td>" +
                                "<td>" + data[i]['display_name_2'] + "</td>" +
                                "<td>" + data[i]['rfidTemperature'] + "</td>" +
                                "<td>" + moment.unix(data[i]['timestamp']).format("MM/DD/YYYY hh:mm:ss a") + "</td>" +
                                "</tr>");
                    }
                },
                error: function(response) {
                    console.log("Error");
                    console.log(response);
                }
            });
        }

        var defaultEnd = moment().hour(0).minute(0).second(0).millisecond(0);
        var defaultStart = moment().hour(0).minute(0).second(0).millisecond(0).subtract('days', 7);
        var pickerStart = defaultStart;
        var pickerEnd = defaultEnd;
        var page = 0;
        var limit = 20;
        updateTable(defaultStart, defaultEnd, page, limit);

        $('#reportrange span').html(defaultStart.format('MMMM D, YYYY') + ' - ' + defaultEnd.format('MMMM D, YYYY'));
        $('#reportrange').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment().add('days', 1)],
                        'Yesterday': [moment().subtract('days', 1), moment()],
                        'Last 7 Days': [moment().subtract('days', 7), moment()],
                        'Last 30 Days': [moment().subtract('days', 30), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                    },
                    startDate: defaultStart,
                    endDate: defaultEnd,
                    opens: "left",
                    maxDate: moment().add('days', 1)
                },
                function(start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                    pickerStart = start;
                    pickerEnd = end;
                    page = 0;
                    limit = 20;
                    updateTable(start, end, page, limit);
                }
        );

        $(".next").on('click', function () {
            if ($(this).hasClass("disabled")) {
                return false;
            }
            page++;
            updatePagerStyles();
            updateTable(pickerStart, pickerEnd, page, limit);
        });
        $(".previous").on('click', function () {
            if ($(this).hasClass("disabled")) {
                return false;
            }
            page--;
            updatePagerStyles();
            updateTable(pickerStart, pickerEnd, page, limit);
        });
    });
</script>

<%- include report_header.ejs %>
<div id="table-loading" class="collapse">
    <img src="/images/loading.gif" />
</div>
<ul class="pager">
  <li class="previous disabled"><a href="#">&larr; Newer</a></li>
  <li class="next"><a href="#">Older &rarr;</a></li>
</ul>
<table id="handheld_table" class="table table-striped">
    <thead>
        <tr>
            <th>Device ID</th>
            <th>Status Code</th>
            <th>RFID Tag Number</th>
            <th>Asset Name</th>
            <th>Sensor Type</th>
            <th>RFID Temperature</th>
            <th>Timestamp</th>
        </tr>
    </thead>
</table>
<ul class="pager">
  <li class="previous disabled"><a href="#">&larr; Newer</a></li>
  <li class="next"><a href="#">Older &rarr;</a></li>
</ul>