<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/colours.css" />
    <link rel="stylesheet" type="text/css" href="/styles/overrides.css" />
    <link rel="stylesheet" type="text/css" href="/styles/login.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title>BlueRover Login</title>
  </head>
  <body>
    <header class="navbar navbar-static-top" role="banner" style="background:#FFFFFF;">
      <div class="container">
        <div class="navbar-header">
          <img src="/images/blueRover-logo-infiniteintelligence.jpg" height="60"/>
        </div>
        <ul class="navbar-nav navbar-right navbar-collapse collapse" style="margin-top:5px;">
          <li><a href="http://www.bluerover.ca">
            <button type="button" class="btn btn-primary navbar-btn">To blueRover.ca</button>
          </a></li>
        </ul>
      </div>
    </header>
    <div class="container">
      <div class="col-md-5 col-lg-5" id="business-text">
        <h1>Welcome to Safe Food</h1>

        <h3>Connect with your Things – and what they have to say.</h3>

        <p>Receive real-time updates from your assets that matter the most. Watch conditions change, in real time, from anywhere.</p>

        <p style="margin-top:15px;font-size:12px;color:#4AADBC;">Powered by blueRover</p>

      </div>

      <div class="col-md-offset-1 col-md-5 col-lg-5" id="login-box">
          <h1>Login</h1>
          <% if (typeof(error) !== 'undefined') { %>
            <div class="alert alert-danger">
              <%= error %>
            </div>
          <% } %>
          <form action="/user/login" method="post" role="form">
            <% if (typeof(redirect_to) === 'string') { %>
              <input type="hidden" name="redirect_to" value="<%= redirect_to %>" />
            <% } %>
            <div class="form-group">
              <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    
  </body>
</html>
