.summary-chart {
  width: 100%;
  height: 50px;
}

.summary-chart > .alarm {
  display: inline-block;
  background-color: #FF544C;
  height: 100%;
  line-height:50px;
  transition-duration: 0.5s;
  width: 100%;
}

.summary-chart > .risk {
  display: inline-block;
  background-color: #FFE249;
  height: 100%;
  line-height: 50px;
  width: 0%;
  transition-duration: 0.5s;
}

.summary-chart > .ok {
  display: inline-block;
  background-color: #C7EECD;
  height: 100%;
  line-height:50px;
  width: 0%;
  transition-duration: 0.5s;
}

.summary-chart span {
  display: inline-block;
  color: #455569;
  height:100%;
  text-align: center;
  width: 100%;
  vertical-align: middle;
}

.summary-content {
  height: 375px;
  overflow: auto;
  margin-bottom: 15px;
}

.summary-content ol {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  list-style: decimal inside;
}

.summary-content ol li {
  padding-top: 5px;
  font-size: 13pt;
  cursor: pointer;
}


.summary-content ol > li.alarm {
  color: #FF544C;
}

.summary-content ol > li.risk {
  color: #EECA0B;
}

.summary-content ol > li.ok {
  color: #455569;
  font-weight: 200;
}
