<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/colours.css" />
    <link rel="stylesheet" type="text/css" href="/styles/overrides.css" />
    <link rel="stylesheet" type="text/css" href="/styles/login.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title>BlueRover Login</title>
  </head>
  <body>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="well">
          <h1>Login</h1>
          <% if (typeof(error) !== 'undefined') { %>
            <div class="alert alert-danger">
              <%= error %>
            </div>
          <% } %>
          <form action="/user/login" method="post" role="form">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>